/* 1st heading gradient */
@keyframes first_heading_gradient {
  0%,
  16.667% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 1st heading white text */
@keyframes first_heading_white_text {
  0%,
  16.667% {
    opacity: 0;
  }

  25%,
  91.667% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes second_heading_gradient {
  0%,
  16.667% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  66.667%,
  100% {
    opacity: 0;
  }
}

@keyframes second_heading_white_text {
  0%,
  25% {
    opacity: 1;
  }

  33.333%,
  50% {
    opacity: 0;
  }

  58.333%,
  100% {
    opacity: 1;
  }
}

@keyframes third_heading_gradient {
  0%,
  50% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes third_heading_white_text {
  0%,
  58.333% {
    opacity: 1;
  }

  66.667%,
  83.333% {
    opacity: 0;
  }

  91.667%,
  100% {
    opacity: 1;
  }
}


.heading-line {
  display: block;
  position: relative;
  text-align: center;
}

.heading-line-gradient {
  text-transform: capitalize;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-line-first > .heading-line-gradient {
  background-image: linear-gradient(to right, hsl(var(--p)), hsl(var(--a)), hsl(var(--p)));
  animation: first_heading_gradient 8s infinite;
}

.heading-line-second > .heading-line-gradient {
  background-image: linear-gradient(to right, hsl(var(--p)), hsl(var(--a)));
  animation: second_heading_gradient 8s infinite;
}

.heading-line-third > .heading-line-gradient {
  background-image: linear-gradient(to left, hsl(var(--p)), hsl(var(--a)));
  animation: third_heading_gradient 8s infinite;
}
.heading-line::before {
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
}

.heading-line-first::before {
  content: "End-to-end software";
  text-transform: capitalize;
  animation: first_heading_white_text 8s infinite;
}

.heading-line-second::before {
  content: "development";
  text-transform: capitalize;
  animation: second_heading_white_text 8s infinite;
}

.heading-line-third::before {
  content: "company";
  text-transform: capitalize;
  animation: third_heading_white_text 8s infinite;
}

/* import bg from 'public/Hero_Bg.svg'
import bg_mobile from 'public/Hero_Bg_mobile.svg' */

.hero__bg {
  background-image: url('/Hero_Bg_mobile.svg');
  background-position-y: top;
}
@media (min-width: 768px) {
  .hero__bg {
    background-image: url('/Hero_Bg.svg');
  }
}
