.btn:is(input[type="radio"]:checked) {
  --tw-border-opacity: 1;
  border-color: hsl(var(--pc) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--pc) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--b1) / var(--tw-text-opacity));
}
.btn:is(input[type="radio"]:checked):focus-visible {
  outline-color: hsl(var(--b1) / 1);
}
.btn:is(input[type="radio"]):hover {
  --tw-border-opacity: 1;
  border-color: hsl(var(--nf) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--nf) / var(--tw-bg-opacity));
}
@media (hover: hover) {
  .btn:is(input[type="radio"]:checked):hover {
    --tw-border-opacity: 0.9;
    border-color: hsl(var(--pc) / var(--tw-border-opacity));
    --tw-bg-opacity: 0.9;
    background-color: hsl(var(--pc) / var(--tw-bg-opacity));
  }
}